<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Do not tamper with above meta tags -->

<title>Reshwap</title>
<meta name="description" content="Reshwap is a trading platform to connect campus.">

<!-- <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script> -->

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<!--link href="css/bootstrap.min.css" rel="stylesheet"-->
<link rel="stylesheet" type="text/css" href="/static/stylesheet.css">

<!-- Favicon -->

<link rel="apple-touch-icon" sizes="180x180" href="static/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/favicons/favicon-16x16.png">
<link rel="manifest" href="static/favicons/manifest.json">
<link rel="mask-icon" href="static/favicons/safari-pinned-tab.svg" color="#f77a37">
<link rel="shortcut icon" href="static/favicons/favicon.ico">
<meta name="msapplication-config" content="static/favicons/browserconfig.xml">
<meta name="theme-color" content="#f77a37">

<script>
var host = "www.reshwap.com";
if (host == window.location.host && window.location.protocol != "https:") {
  window.location.protocol = "https";
}
</script><!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124483316-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag() {
  dataLayer.push(arguments);
}
gtag("js", new Date());

gtag("config", "UA-124483316-1");

gtag("config", "UA-124483316-1");

gtag("config", "UA-124483316-1");
</script>


</head>
<body id="bootstrap-overrides">
    <header>
        <div class="background">
            <div class="gradient-background">
              <nav class="navbar navbar-expand-md bg-faded justify-content-center">
                  <div class="container">
                      <a href="/" class="navbar-brand d-flex w-50 mr-auto"><img src="/static/Reshwap Backup Logo 6.svg" height="25px" class="d-inline align-top logo" alt=""></a>
                      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                          <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="navbar-collapse collapse" id="collapsingNavbar3">
                          <ul class="navbar-nav mx-auto w-100 justify-content-center">
                              <li class="nav-item">
                                  <a class="nav-link" href="#about">About</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#">Updates </a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="#">Team</a>
                              </li>
                          </ul>
                          <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                            <a class="nav-link indexlogin" href="/auth/google" style="padding:5px 15px">
                              <li class="nav-item">
                                   Log in
                              </li>
                            </a>
                          </ul>
                      </div>
                  </div>
              </nav>
              <div class="landing">
                  <div class="container">
                      <div class="col-xs-12">
                          <h1 class="title">A new way to share.</h1>

                          <div class="content">
                              <div class="content-container d-none d-md-block">
                                  <p class="content-container-text display-large" style="opacity: 0.7;">Reshwap connects you with </p>

                                  <ul class="content-container-list display-large">
                                      <li class="content-container-list-item">books</li>
                                      <li class="content-container-list-item">furniture</li>
                                      <li class="content-container-list-item">electronics</li>
                                      <li class="content-container-list-item">your lost belongings</li>
                                  </ul>
                              </div>
                              <div class="d-md-none" style="opacity: 0.7;">
                                  <p class="content-container-text display-large d-md-none">Reshwap connects you with goods and people on campus.<p>
                              </div>
                              <a href="/auth/google"><button class="index-btn">Start uploading now</button><a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <div class="container" id="about">
        <div class="row">
            <div class="col-md-8">
                <h3 class="bold">Complete marketplace</h3>

                <p class="display-large">Browse and create offers for electronics, furniture, books, and more. Reshwap is a centralized location to facilitate trade.</p>
            </div>

            <div class="col-md-4">
                <h3 class="bold">Speed</h3>

                <p class="display-large">Reshwap servers are located in New York City, with virtually non-existent downtime and high user capacity.</p>
            </div>

            <!--div class="col-md-4">
                <h3 class="bold">Take a look inside</h3>

                <p class="display-large">For those curious, find us on <a href="https://github.com/thematman7/reshwap_renaissance">GitHub</a>.</p>
            </div-->
        </div>
    </div>

    <!--div class="container" id="updates">
        <div class="jumbotron row">
            <div class="col-md-12">
                <h3 class="lightest">Updates</h3>

            </div>
        </div>
    </div-->

    <div class="container" id="team">
        <div class="row">
            <div class="col-md-12">
                <h3 class="bold">Meet the team</h3>

                <p class="display-large">In beginning: one guy named Max Drojjin '17. Then came front-end developer Eric Cheng '18 and back-end developer Matt Gunton '18 to carry the torch. Now the torch rests in the hands of Alper Canberk '21 and Aidan Jalili '21.</p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<!--script type="text/javascript" src="jquery/jquery-1.12.0.min.js"></script-->
<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script-->
<!--script src="js/bootstrap.min.js"></script-->
</body>

<div class="container">
    <p class="text-center">Reshwap 2018-</p>
</div>
</html>
